.copyright {
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    padding-right: 1px;
    align-self: baseline;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}

.copyright__link {
  font-family: $text-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: $special-dark-grey;


  &:hover,
  &:focus {
    text-decoration: none;
    color: $special-dark-grey;
    fill: $basic-green;
  }

  &:active {
    color: transparentize($color: $basic-green, $amount: 0.7);
  }
}

.copyright__logo {
  margin-left: 22px;
  width: 27px;
  fill: $special-dark-grey;

  &:hover {
    fill: $basic-green;
  }
}
