.header {
  grid-row: 1;
  margin-bottom: 0;
}

.header::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6;
    display: block;
    position: absolute;
  }
}

.header__wrapper {
  @include center-wrapper;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}


.header--index::after {
  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    background-image: url("../img/index-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-color: $basic-green-2;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 0;
    height: 694px;
    width: 50vw;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-bg-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }
}
