.how-it-work {
  @include center-wrapper;
  margin-top: 0;
  margin-bottom: 0;

  &::after {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: #e6e6e6;
      display: block;
      margin-left: calc((100vw - 708px) / -2);
      position: absolute;
    }
  }
}

.how-it-work__title {
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }
}

.how-it-work__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 250px;
    grid-template-rows: repeat(2, 280px);
    column-gap: 152px;
    row-gap: 37px;
    margin-top: 63px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
    margin-left: auto;
    grid-template-rows: 280px;
    column-gap: 75px;
    margin-top: 63px;
  }
}

.how-it-work__item {
  color: $special-dark-grey;
  font-family: $text-font;
  line-height: 1.3571;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: 0 -2px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 111px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    background-size: 80px 80px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      font-size: 280px;
      font-family: $title-font;
      color: $basic-grey;
      position: absolute;
      top: 85px;
      right: 2px;
      z-index: -1;
    }
  }

  &--nutrients {
    background-image: url("../img/nutrients-icon.svg");
  }

  &--nutrients::after {
    @media (min-width: $tablet-width) {
      content: "1";
    }
  }

  &--powder {
    background-image: url("../img/powder-icon.svg");
  }

  &--powder::after {
    @media (min-width: $tablet-width) {
      content: "2";
    }
  }

  &--meal {
    background-image: url("../img/meal-icon.svg");
  }

  &--meal::after {
    @media (min-width: $tablet-width) {
      content: "3";
      right: -15px;
    }
  }

  &--time {
    background-image: url("../img/time-icon.svg");
  }

  &--time::after {
    @media (min-width: $tablet-width) {
      content: "4";
    }
  }
}

.how-it-work__span {
  @media (min-width: $tablet-width) {
    display: block;
  }
}
