.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  font-family: $title-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3571;
  background-color: $white;
  color: $special-dark-grey-2;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-x: hidden;
}
