.product {
  display: grid;
  grid-template-columns: 141px 142px;
  grid-template-rows: 53px auto auto;
  position: relative;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 430px;
    box-sizing: border-box;
    background-color: $basic-grey;
    padding-left: 38px;
    padding-right: 35px;
    padding-bottom: 30px;
  }
}

.product::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $border-grey-catalog;
    display: block;
    margin-left: calc((100vw - 280px) / -2);
    position: absolute;
    top: -22px;
  }
}

.product__link {
  grid-row: 1 / 2;
}

.product__image {
  width: 68px;
  height: auto;
  position: absolute;
  top: 13px;
  left: 36px;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: auto;
    top: -44px;
    left: 83px;
  }

  @media (min-width: $desktop-width) {
    top: -50px;
    left: 44px;
  }

  &--big {
    width: 84px;
    top: 11px;
    left: 28px;

    @media (min-width: $tablet-width) {
      width: 168px;
      top: -71px;
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      width: 172px;
      top: -81px;
      left: 40px;
    }
  }

  &--3,
  &--5 {
    top: 26px;
    left: 36px;

    @media (min-width: $tablet-width) {
      width: 163px;
      top: -45px;
      left: 83px;
    }

    @media (min-width: $desktop-width) {
      top: -52px;
      left: 43px;
    }
  }

  &--7 {
    width: 72px;
    top: 23px;
    left: 35px;

    @media (min-width: $tablet-width) {
      width: 163px;
      top: -65px;
      left: 80px;
    }

    @media (min-width: $desktop-width) {
      top: -77px;
      left: 42px;
    }
  }
}

.product__title {
  grid-column: 2;
  grid-row: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 76px;
  text-transform: uppercase;
  text-decoration: none;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 158px;
    text-align: center;
    margin-top: 145px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:hover {
    text-decoration: none;
    color: $special-dark-grey-2;
    opacity: 80%;
  }
}

.product__description {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 16px 16px 16px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-template-rows: repeat(3, 32px);
    margin-top: 0;
  }
}

.product__property {
  font-family: $text-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid $special-grey;
    padding: 10px 10px;
    padding-left: 0;
  }
}

.product__value {
  font-family: $text-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-grey;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid $special-grey;
    padding: 10px 0;
    margin-left: 0;
  }
}

.product .button {
  grid-row: -1;
  grid-column: 1 / -1;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    padding: 10px 25px;
    box-sizing: border-box;
  }
}

.product--additional {
  display: block;
  padding-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 175px 65px;
    column-gap: 25px;
    grid-template-rows: 50px;
    row-gap: 10px;
    background-color: $white;
    min-height: 110px;
    border: 1px solid $special-grey;
    padding: 14px 38px 25px 34px;
    margin-top: -2px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 287px 208px 56px 235px;
    min-height: 72px;
    column-gap: 35px;
    grid-template-rows: 72px;
    border-left: none;
    border-right: none;
    margin: -2px 20px 0 35px;
    padding: 0;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      width: 100%;
      margin-left: 0;
      top: -14px;
    }
  }

  &:last-child::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $border-grey-catalog;
      display: block;
      position: absolute;
      top: 160px;
    }
  }

  & .product__title {
    grid-row: 1;
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 9px;
    margin-left: 2px;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      grid-column: 1;
      padding-top: 0;
      text-align: left;
      padding-bottom: 15px;
    }
  }

  & .product__description {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    margin-right: -2px;
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      justify-content: flex-end;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-between;
    }
  }

  & .product__property {
    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  & .product__value {
    @media (min-width: $tablet-width) {
      border-bottom: none;
      margin-left: 49px;
      margin-right: -5px;
    }
  }
}

.product--additional .button {
  @media (min-width: $desktop-width) {
    grid-column: 4;
    grid-row: 1;
  }
}
