.variants {
  @include center-wrapper;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 84px;
    display: flex;
  }
}

.variants__item {
  background-color: $basic-grey;
  padding: 8px 20px 16px 20px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 35px 276px 58px 53px;
    text-align: left;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    box-sizing: border-box;
    padding: 32px 23px 60px 52px;
    margin-right: 80px;
  }
}

.variants__title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 36px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
  }
}

.variants__item--sliming {
  background-image: url("../img/cat-slim-icon.svg");
  background-repeat: no-repeat;
  background-position: 20px 20px;

  @media (min-width: $tablet-width) {
    background-size: 200px;
    background-position: 446px 80px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px;
    background-position: 54px 38px;
  }

  & .variants__title {
    margin-right: 60px;
    font-weight: 400;
  }
}

.variants__item--weight-gain {
  background-image: url("../img/cat-muscle-icon.svg");
  background-repeat: no-repeat;
  background-position: 13px 22px;

  @media (min-width: $tablet-width) {
    background-size: 268px;
    background-position: 411px 91px;
    padding-right: 311px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px;
    background-position: 35px 43px;
    padding-right: 25px;
  }

  & .variants__title {
    margin-right: 32px;
    font-weight: 400;
  }
}

.variants__text {
  color: $special-dark-grey;
  font-family: $text-font;
  text-align: left;
  line-height: 1.3571;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-top: 19px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 68px;
  }
}

.variants__link {
  display: block;
  padding-top: 5px;
  font-size: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 15px;
    background-image: url("../img/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 15px;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 29px;
    }
  }

  &:hover {
    color: $black;
    text-decoration: none;

    &::after {
      background-image: url("../img/arrow-icon-hover.svg");
    }
  }

  &:active,
  &:focus {
    opacity: 30%;
    color: $black;
    text-decoration: none;

    &::after {
      background-image: url("../img/arrow-icon-hover.svg");
    }
  }
}
